<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>PlatePal</title>
</head>
<body>
    <img src="plate.png" class="plate"/>
    <img src="fork-knife-2-rotated.png" class="fork-knife"/>
    <div class="centered-container">
        <h1>PlatePal</h1>
        <p>With just a picture of your meal and a few clicks, get health tips for your diet!</p><br>
        <form action="/sign-in">
            <input type="submit" value="Get Started >"/>
        </form> 
    </div>
</body>
</html>