<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>PlatePal</title>
</head>
<body>
    <img src="plate.png" class="plate"/>
    <img src="fork-knife-2-rotated.png" class="fork-knife"/>
    <div class="centered-container">
        <h1>PlatePal</h1>
        <h3>How'd you get here?</h3>
        <div>It seems that you aren't signed in! Please continue below: </div><br> 

        
        <form action="/sign-in">
            <input type="submit" value="Sign in >"/>
        </form> 
    </div>
</body>
</html>